    <div class="header">
        <div class="container">
            <!-- Logo -->
            <a class="logo" href="index.html">
                <img src="../assets/smalldoublelogo.png" alt="Logo">
            </a>
            <!-- End Logo -->

            <!-- Topbar -->
            <div class="topbar">
                <ul class="loginbar pull-right">
                    <li class="topbar-devider"></li>
                    <% if user_signed_in? %>
                    Signed in as <%= current_user.email %>
                    <li class="topbar-devider"></li>
                    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
                    <% else %>
                    <%= link_to 'Sign Up', new_user_registration_path %>
                    <li class="topbar-devider"></li>
                    <%= link_to 'Sign In', new_user_session_path %>
                    <% end %>
                </ul>
            </div>
            <!-- End Topbar -->

            <!-- Toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <!-- End Toggle -->
        </div><!--/end container-->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
            <div class="container">
                <ul class="nav navbar-nav">
                    <!-- Home -->
                        <li><%= link_to 'Home', root_path %></li>
                        <!-- End Home -->

                    <!-- About -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            About
                        </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to 'About Me', root_path %></li>
                            <li><%= link_to 'About the Blog', root_path %></li>
                            <!-- End Sub Level Menu -->
                        </ul>
                    </li>
                    <!-- End About -->

                    <!-- Programming -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Programming
                        </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to 'HTML', root_path %></li>
                            <li><%= link_to 'CSS', root_path %></li>
                            <li><%= link_to 'JavaScript', root_path %></li>
                            <li><%= link_to 'Ruby', root_path %></li>
                            <li><%= link_to 'Rails', root_path %></li>
                        </ul>
                    </li>
                    <!-- End Programming -->

                    <!-- Food -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Food
                        </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to 'Restaurants', root_path %></li>
                            <li><%= link_to 'Recipes', root_path %></li>
                            <li><%= link_to 'Cooking Adventures', root_path %></li>
                        </ul>
                    </li>
                    <!-- End Food -->

                    <!-- Travel -->
                    <li><%= link_to 'Travel', root_path %></li>
                    <!-- End Travel -->

                    <!-- Search Block -->
                    <li>
                        <i class="search fa fa-search search-btn"></i>
                        <div class="search-open">
                            <div class="input-group animated fadeInDown">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-btn">
                                    <button class="btn-u" type="button">Go</button>
                                </span>
                            </div>
                        </div>
                    </li>
                    <!-- End Search Block -->
                </ul>
            </div><!--/end container-->
        </div><!--/navbar-collapse-->
    </div>