<div class="wrapper">
    <!--=== Header ===-->
    <%= render 'header'%>
    <!--=== End Header ===-->
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Blog Full Width</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="">Blog</a></li>
                <li class="active">Blog Full Width</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->
    <!--=== Content Part ===-->
    <div class="container content blog-full-width">
    <p id="notice"><%= notice %></p>
    <%= link_to 'New Post', new_post_path %>
    <% @posts.each do |post| %>
        <!--Blog Post-->
      <div class="blog margin-bottom-40">
            <div class="blog-img">
                <img class="img-responsive" src="assets/img/sliders/4.jpg" alt="">
            </div>
          <h2><%= link_to (post.title), post_path(post) %></h2>
            <div class="blog-post-tags">
                <ul class="list-unstyled list-inline blog-info">
                    <li><i class="fa fa-calendar"></i><%= time_ago_in_words post.created_at %></li>
                    <li><i class="fa fa-pencil"></i><%=post.user.email%>  </li>
                    <li><i class="fa fa-comments"></i><%= link_to (post.comments.count.to_s + ' Comments'), post_path(post) %></li>
                    <% unless current_user==post.user %>
                    <% else %>
                    <li><%= link_to 'Edit', edit_post_path(post) %></li>
                    <li><%= link_to 'Delete', post_path(post), method: :delete, data: {confirm: "Are you sure?"} %></li>
                    <% end %>
                </ul>
            </div>
            <p><%= post.content %></p>
            <p><a class="btn-u btn-u-small" href="blog_item_option2.html"><i class="fa fa-plus"></i> Read More</a></p>
        </div>
        <!--End Blog Post-->
    <% end %>

        <!--Pagination-->
        <div class="text-center">
            <ul class="pagination">
                <li><a href="#">«</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">»</a></li>
            </ul>
        </div>
        <!--End Pagination-->
    </div><!--/container-->
    <!--=== End Content Part ===-->

    <!--=== Footer Version 1 ===-->
    <%= render 'footer' %>
    <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        StyleSwitcher.initStyleSwitcher();
   });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->
